
@media screen and (max-width: 767px) {
    .head-info {
        display: none;
    }
}

@media screen and (min-width: 1200px) and (max-width: 4440px) {
    .head-info li p {
        font-weight: bolder;
        font-size: 15px;
    }
    .bar2{
        top: -685px;
        left: 640px;
     }
     .bar1{
        top: -230px;
       left: 820px;
    }
    .bar3{
      top: -790px;
      left: 530px;
      transform: rotate(-130deg);
    }
    .duallien span{
        left: 17%;
    }
    div, #realisation p {
        font-size:20px;
    }

}
@media screen and (min-width: 992px) and (max-width: 1013px) {
    .bar2{
        top: -505px;
        left: 480px;
        width: 200px;
        height: 200px;
     }
     .bar1{
        top: -190px;
       left: 620px;
       width: 200px;
       height: 200px;
    }
    .bar3{
      top: -590px;
      left: 410px;
      width: 400px;
      height: 160px;
      transform: rotate(-130deg);
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .bar2{
        top: -505px;
        left: 480px;
        width: 200px;
        height: 200px;
     }
     .bar1{
        top: -180px;
       left: 600px;
       width: 200px;
       height: 200px;
    }
    .bar3{
      top: -590px;
      left: 410px;
      width: 400px;
      height: 160px;
      transform: rotate(-130deg);
    }
    .duallien span{
        left: 26%;
    }
    header .container:first-child{
        max-width: 100%;
    }
    header .container.logo-div{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .container p{
        font-size: 15px;
    }
    blockquote{
        padding: 0;
        margin: 5px 0px 0px 0px;
    }
}
