*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
background-color: rgb(110, 25, 25)!important;
font-weight: bolder!important;
font-size: medium!important;
overflow-x: hidden;
font-family: "Montserrat", sans-serif;
}
#blur{
  margin-top: 15px;
}
#particles-js{
  background-color: rgb(110, 25, 25);
  width: 100%;
  z-index: 2;
}
.particles-js-canvas-el{
  position: absolute;
  height: 100%;
  z-index: 2;
  top: -20px;
}

/*=======================================================
      HEADER
========================================================*/

header {
  width: 100%;
  z-index: 1;
  background: transparent;
  padding: 0px 0;
  position: relative;
  padding: 25px 0;
}

#logo_dpg{
  width: 100%;
  z-index: 3;
}
header .container {
  position: relative;
  background: transparent;
}
.header-style-2 .logo-div{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .navbar {
  border: none;
  position: static;
  text-align: center;
  min-height: inherit;
  transition: all .5s ease-in-out;
  margin: 0 auto;
  width: 100%;
}

header .navbar.scroll{
  position: fixed;
  top: -30px;
  left: 0;
  right: 0;
}
header .nav {
  padding: 0px;
  margin: 0px;
}
header .logo {
  float: left;
  position: relative;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 3;

}
header .logo img {
  z-index: 3;
  position: relative;
}
.sticky-wrapper {
  height: auto !important;
}
header .sticky {
  left: 0px;
}

header .navbar {
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
header .navbar li {
  display: inline-block;
  margin: 0;
  position: relative;
  z-index: 3;

}
header .sticky {
  width: 100%;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;

}
header .navbar li a {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  text-transform: uppercase;
  z-index: 3;

}
.navbar-collapse {
  padding: 0px;
  float: left;
}

header .navbar li a:hover:before {
  width: 100%;
  z-index: 3;

}

.nav > li > a:focus,
.nav > li > a:hover {
  background: none;
  z-index: 3;

}
.ownmenu .nav .dropdown-menu {
  background: #fff;
  padding: 0px;
}
.ownmenu .nav .dropdown-menu li a {
  color: #fff !important;
  z-index: 3;

}
.ownmenu .dropdown-menu li {
  margin: 0px;
  z-index: 3;

}
.ownmenu .nav .dropdown-menu li {
  position: relative;
  z-index: 3;
}
.ownmenu .nav .dropdown-menu li a {
  z-index: 3;
  position: relative;
}
.ownmenu .nav .dropdown-menu li a:before {
  background: rgb(31, 31, 32,0.2);
  content: "";
  width: 0px;
  height: 100%;
  top: 0px;
  margin: 0px;
  z-index: -1;
  left: 0px;
}
.ownmenu .dropdown-menu li a:hover:before {
  width: 100%;
  background: rgba(33, 33, 34, 0.5);
  z-index: 3;

}
.ownmenu .nav .dropdown-menu li:hover > a {
  background: rgba(33, 33, 34, 0.5);
  color: #fff !important;
  z-index: 3;

}
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background: none;
  z-index: 3;

}
.ownmenu .nav .dropdown-menu li a {
  padding: 0px 30px !important;
  font-size: 13px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 36px;
  color: #222 !important;
  z-index: 3;

}
.ownmenu .nav .dropdown-menu li a span {
  color: #fff;
  font-weight: normal;
  margin-left: 5px;
  font-size: 8px;
  height: 15px;
  padding: 0 5px;
  line-height: 15px;
  background: #f65589;
  display: inline-block;
  z-index: 3;

}
.ownmenu .nav .dropdown-menu li:hover > a span {
  color: #fff;
  z-index: 3;

}
.ownmenu .nav .dropdown-menu li:nth-last-child(1) a {
  border-bottom: none;
}
.ownmenu .nav .dropdown-menu li a:hover {
  color: #fff !important;
  z-index: 3;

}
.ownmenu .nav .dropdown-menu {
  border: none;
  min-width: 270px;
  margin-top: 26px;
  border-radius: 0px;
  padding: 10px 0px;
  border-bottom: 3px solid rgba(33, 33, 34, 0.5);
  z-index: 3;

}
.ownmenu .dropdown.megamenu {
  position: static !important;
}
.ownmenu .dropdown.megamenu .dropdown-menu {
  width: 100%;
  min-width: inherit;
  padding: 0 15px;
  background: none !important;
  border: none !important;
  box-shadow: none;
}

.ownmenu .dropdown.megamenu .dropdown-menu li {
  display: inline-block;
  width: 100%;
  z-index: 3;

}
.ownmenu .dropdown.megamenu .dropdown-menu h6 {
  margin-bottom: 20px;
  letter-spacing: 1px;
  color: #fff;
  padding-left: 30px;
  margin: 0px;
  margin-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 3;

}
.ownmenu .dropdown.megamenu .dropdown-menu li a {
  display: inline-block;
  width: 100%;
}
.ownmenu .dropdown .sub-menu .dropdown-menu {
  position: absolute;
  left: 100%;
  top: 0px;
  display: none !important;
  margin: 0px !important;
}
.ownmenu .dropdown .sub-menu:hover .dropdown-menu {
  display: block !important;
}
.ownmenu .dropdown .sub-menu .dropdown-menu li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  z-index: 3;
}
.ownmenu .dropdown .sub-menu .dropdown-menu li:nth-last-child(1) a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}
.ownmenu .dropdown .sub-menu:before {
  content: "\f105";
  position: absolute;
  right: 10px;
  font-family: "FontAwesome";
  line-height: 33px;
  z-index: 2;
  z-index: 3;

}
.ownmenu .dropdown .sub-menu:hover:before {
  color: #fff;
}
.ownmenu {
  float: left;
}
.nav-right i {
  font-size: 14px;
}
.nav-right li {
  padding: 0 0px;
  margin: 0 10px !important;
}
.nav-right {
  float: right;
  position: relative;
  margin-left: 30px;
  margin-top: 22px;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 3;

}
header .navbar li a:before {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  width: 0px;
  background: rgba(26, 26, 26, 0.1);
  content: "";
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
header .navbar li a:before:hover {
  width: 100%;
}
header .navbar li a:hover {
  color: #fff;
}
header .navbar li.active a:before {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
  background: rgba(225, 225, 228, 0.2);
  content: "";
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  z-index: 2;
}
header .navbar li.active a {
  color: #fff !important;
  z-index: 3;
}
header.white-header .navbar li a:before {
  background: rgba(0, 0, 0, 0.1);
}
header.white-header .navbar li a:before:hover {
  width: 100%;
}
header.white-header .navbar li.active a:before {
  background: rgba(0, 0, 0, 0.1);
}
header.white-header .navbar .dropdown-menu a:before {
  background: #343434 !important;
  display: none !important;
}
header.white-header .navbar li.active a {
  color: #fff !important;
}
header.full-head {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0;
  background: rgba(33, 33, 34, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 3;

}
header.full-head .sticky {
  padding: 0 50px;
}
header.white-header .logo {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
header.white-header .nav-right {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
header.white-header .navbar li a {
  color: #fff;
}
header.full-head .ownmenu .dropdown.megamenu .dropdown-menu {
  padding: 0px;
}
.menu-left .navbar {
  float: none;
  display: block;
}
.navbar-nav > li:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  content: "\e876";
  float: right;
  font-family: "Linearicons-Free";
  color: #fff;
  font-size: 8px;
  margin: 0px;
  position: absolute;
  right: 30px;
  z-index: 3;

}
.dropdown-submenu > a:hover:after {
  color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.head-info, .head-info ul {
  float: right;
  display: flex;
  flex-direction: row;
}

.head-info li {
  list-style: none;
  margin-left: 35px;
  z-index: 3;

}
.head-info li i {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  display: table-cell;
  vertical-align: top;
  background: rgb(0, 0, 0);
  text-align: center;
  line-height: 33px;
  color: red;
  margin-right: 10px;
  float: left;
  margin-top: 0px;
  font-size: 12px;
  z-index: 3;

}
.head-info li p {
  font-weight: 400;
  font-size: 12px;
  line-height: 33px;
  display: table-cell;
  font-family: "Montserrat", sans-serif;
  z-index: 3;
  color: black;
}
.head-info li p span {
  display: inline-block;
  width: 100%;
  z-index: 3;

}
.header-style-2 .navbar li a {
  text-transform: uppercase;
  padding: 20px;
  float: left;
  color: #fff;
  font-size: 12px;
  z-index: 3;
}
.search-box{
  position: relative;
    display: flex;
    background: #2f3640;
    border-radius: 40px;
    height: 33px;
    width: auto;
    z-index: 3;
}
.search-box:hover > .search-txt{
  width: 200px;
  padding: 0 6px;
  height: auto;
}
.search-box:hover > .search-btn{
  background: white;
}

.search-btn{
    color: red;
    float: right;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.header-style-2 {
  left: 0px;
  width: 100%;
}
.header-style-2 .navbar {
  width: 100%;
  margin-top: 25px;
}
.header-style-2 .navbar li:nth-child(1) {
  margin-left: 0px;
}
.header-style-2 .navbar {
  background: rgba(33, 33, 34);
}
.header-style-2 .ownmenu .nav .dropdown-menu {
  margin-top: 0px !important;
}
.dropdown-submenu > a:hover:after {
  color: #fff;
}
.dropdown-submenu > a:after {
  content: "\e876";
  float: right;
  font-family: "Linearicons-Free";
  color: rgb(28,28,26);
  font-size: 8px;
  margin: 0px;
  position: absolute;
  right: 30px;
  top: 0px;
  display: block !important;
  z-index: 2;

}
header .navbar li .lien i{
  font-size: 15px;
  padding: 15px;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  color: rgb(28,28,26);
  margin-bottom: 0px;
  z-index: 3;

}

.nav-link{
  font-weight: bolder!important;
  color: black!important;
  font-size: medium!important;
  z-index: 3;

}
.nav-link:hover{
  color: black!important;
  transform: rotate(8deg)!important;
   -moz-transform: rotate(8deg)!important;
    -webkit-transform: rotate(8deg)!important;
   -khtml-transform: rotate(8deg)!important;
    -ms-transform: rotate(8deg)!important;
}
.header-style-2 .navbar-toggle{
  border: 0  !important;
}
.header-style-2 .navbar-toggle:focus,
.header-style-2 .navbar-toggle:active,
.header-style-2 .navbar-toggle-icon:focus{
  outline:none !important;
  box-shadow: none !important;
  border: 0 !important;
}
.header-style-2 .toggle-icon{
  width: 30px !important;
  height: 5px !important;
  background-color: rgb(0, 0, 0) !important;
  display: block !important;
  transition: all 0.2s !important;
}
.header-style-2 .middle-bar{
  margin: 3.3px auto !important;
}
.header-style-2 .navbar-toggle .to-bar{
  transform: rotate(45deg) !important;
  transform-origin: 10% 10% !important;
}
.header-style-2 .navbar-toggle .middle-bar{
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
}
.header-style-2 .navbar-toggle .bottom-bar{
   transform: rotate(-45deg) !important;
   transform-origin: 10% 10% !important;
 }
.header-style-2 .navbar-toggle.collapsed .to-bar{
  transform: rotate(0) !important;
}
.header-style-2 .navbar-toggle.collapsed .middle-bar{
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.header-style-2 .navbar-toggle.collapsed .bottom-bar{
  transform: rotate(0) !important;
}
.header-style-2 .navbar-toggle.collapsed .toggle-icon{
  background-color: rgba(33, 33, 34, 0.5) !important;
}

.lien{
  color: red;
  text-decoration: none;
  border-bottom: 5px solid black;
  vertical-align: right;
  margin-left: 70px;
  font-weight: bolder;
  padding: 10px;
  transition: all 0.4s;
  z-index: 3;

  }
  .lien:hover{color: black;
    border-bottom: 5px solid red;
  }
  
/*--- Baro consulting text ----------------*/
/*----- Baro consulting text ----------------*/

/* texte baro consulting */
header article{
  margin-top: 30px;
}
.header_text{
  color: black;
  font-size: 5em;
  position: relative;
  font-weight: 700!important;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 3px rgb(0, 0, 0);
  -webkit-text-stroke-color: rgb(17, 17, 14);
  z-index: 4;
}

.duallien{
  position: sticky;
  display: flex;
  align-items: center;
  z-index: 3;
}

/* le cercle ou */

.duallien span{
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgb(0 0 0 / 100%);
  background: red;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  position: absolute;
  left: 20%;
  font-size: 15px;
  z-index: 4;
}
/*lien b*/
.lolob, .loloa{
  cursor: pointer!important;
  font-weight: 700!important;
  text-transform: uppercase!important;
  overflow: hidden!important;
  transition: all 0.5s!important;
  outline: none!important;
  position: relative;
  text-decoration: none;
  width: auto;
  font-size: 15px;
  z-index: 3;

}
.lolob{
  padding: 10px 30px 10px 40px;
  color: black;
  border: 2px solid black;
}
.lolob::before, .loloa::before{
content:''!important;
position:absolute!important;
height: 0%!important;
bottom: 0!important;
right: 0!important;
width: 100%!important;
z-index: -1!important;
transition: all 0.5s!important;
}
.lolob::before{
  background-color: black;
}
.lolob:hover{color: red!important;}
.lolob:hover::before,  .loloa:hover::before{
height: 100%!important;
}
/* lien a*/
.loloa{
  color: red;
  border: 2px solid red;
  padding: 10px 40px 10px 30px;
}
.loloa::before{
  background-color: red!important;
}
.loloa:hover{color: black!important;}

/*------------------------ services --------------------------------------*/
/*------------------------ services --------------------------------------*/


#services
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../img/services.jpg');
    background-size: cover;
    background-position: center;
    color: red !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1
{
    text-align: center;
    color: red !important;
    padding-bottom: 10px;

}

.services
{
    margin-top: 40px;
}
.icon
{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid red;
    border-radius: 50%;
}
#services p
{
    font-size: 14px;
    margin-top: 20px;
    color: red;
}
.services .col-md-3:hover{
    background: black;
    cursor: pointer;
    transition: 0.7s;
}

.venez-avec-nous{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../img/promo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: sans-serif;
}

  .baro{
    font-size: larger;
  }

.btna{
    padding: 20px;
    border:  3px solid red;
    background: black;
    color: red; 
    transition: all .3s;
    border-left: 2px solid red;
    border-right: 2px solid red;
    font-family: fantasy;
    text-decoration: none;
    margin: 0 auto;
    transition: all .3s;
  }

  
.btna:hover{
   color: black;
   background-color: red;
  }

.phrasebas1, .phrasebas2, .phrasebas3, .phrasebas4{
  padding: 20px;
  background-color: red;
  border: 1px solid black;
  color: black;
  font-family: fantasy;
  display: none;
  -webkit-clip-path: polygon(35% 0, 0 0, 0 46%, 0% 80%, 0 100%, 48% 100%, 80% 100%, 100% 100%, 100% 48%, 100% 0, 63% 0, 49% 17%);
clip-path: polygon(35% 0, 0 0, 0 46%, 0% 80%, 0 100%, 48% 100%, 80% 100%, 100% 100%, 100% 48%, 100% 0, 63% 0, 49% 17%)
}
.phrasebas1{
  -webkit-clip-path: polygon(3% 0, 0 0, 0 46%, 0% 80%, 0 100%, 48% 100%, 80% 100%, 100% 100%, 100% 48%, 100% 0, 21% 0, 11% 12%);
clip-path: polygon(3% 0, 0 0, 0 46%, 0% 80%, 0 100%, 48% 100%, 80% 100%, 100% 100%, 100% 48%, 100% 0, 21% 0, 11% 12%)}
.phrasebas2{-webkit-clip-path: polygon(77% 0, 0 0, 0 46%, 0% 80%, 0 100%, 48% 100%, 80% 100%, 100% 100%, 100% 48%, 100% 0, 99% 0, 88% 13%);
  clip-path: polygon(77% 0, 0 0, 0 46%, 0% 80%, 0 100%, 48% 100%, 80% 100%, 100% 100%, 100% 48%, 100% 0, 99% 0, 88% 13%)
}
.phrasebas4{
  -webkit-clip-path: polygon(28% 0, 0 0, 0 46%, 0% 80%, 0 100%, 48% 100%, 80% 100%, 100% 100%, 100% 48%, 100% 0, 48% 0, 38% 14%);
clip-path: polygon(28% 0, 0 0, 0 46%, 0% 80%, 0 100%, 48% 100%, 80% 100%, 100% 100%, 100% 48%, 100% 0, 48% 0, 38% 14%)}
.phrasebas3{
  -webkit-clip-path: polygon(51% 0, 0 0, 0 46%, 0% 80%, 0 100%, 48% 100%, 80% 100%, 100% 100%, 100% 48%, 100% 0, 74% 0, 63% 12%);
clip-path: polygon(51% 0, 0 0, 0 46%, 0% 80%, 0 100%, 48% 100%, 80% 100%, 100% 100%, 100% 48%, 100% 0, 74% 0, 63% 12%)}

.conteur{
  background-color: black;
  box-shadow:0px 5px 8px 5px rgba(0, 0, 0,.8) ;
}
  .containeur{
    position: relative;
    justify-content: space-between;
    display: block;
    margin: 0 auto;
  }
  .containeur .card{
    position: relative;
    width: 30%;
    height: 400px;
    margin: 10px;
  }
  .profile
  { 
    padding: 70px 10px 10px;
    background-color: red;
  }
  .user
  {
      width: 120px;
      height: 120px;
      border-radius: 50%;
  }
  .profile img
  {
      top: -30px;
      position:absolute;
      left: calc(50% - 60px);
      border: 8px solid black;
  }
  .profile h3
  {
      font-size: 20px;
      margin-top: 15px;
      color: black;
  }
  
  blockquote
{      font-size: 16px;
      line-height: 30px;
  }
  blockquote::before
  {
      content: '\201C';
      font-size: 50px;
      color: black;
      position: relative;
      line-height: 20px;
      bottom: -15px;
      right: 5px;
  }
  blockquote::after
  {
      content: '\201D';
      font-size: 50px;
      color: #1c1c1d;
      position: relative;
      bottom: -15px;
      line-height: 10px;
      left: 5px;
  }
  .profile:hover
  {
      box-shadow: 0 0 15px 5px rgba(153, 3, 3, 0.8);
      cursor: pointer;
      transition: 0.5s;
  }


  .containeur .card .face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }
  .containeur .card .face.face1{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform-origin: bottom;
    background: url('../img/black-man-4699506_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .containeur .card .face.face1 h3{
    margin: 10px 0 0;
    color: red;
    text-align: center;
    font-size: 1.5em;
  }
  .containeur .card:hover .face.face1 {
    transform: translateY(-100%) rotateX(90deg);
    background: url('../img/black-man-4699506_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .containeur .card .face.face2{
    background: black;
    display: table;
    padding: 30px;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg);
  }
  .containeur .card:hover .face.face2{
  transform: translateY(0) rotateX(0deg);
  font-size: 16px;
  overflow: auto;
  }
  

  .gotopbtn:hover{
    color:red;
    background-color: black;
  }
  .gotopbtn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: red;
  bottom: 40px;
  right: 50px;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: black;
  font-size: 22px;
  z-index: 6;
}
.lien_decouvrir{
  border: 1px solid black;
  color: black;
  padding: 15px;
  text-decoration: none;
  margin:10px;
  transition: all .3s;
}
.lien_decouvrir:hover{
  background-color: black;
  color: red;
}

.y{height: 400px!important;
  left: -90px!important;
  background-repeat: no-repeat;
  background-size: cover;
  background: url('../img/smiling-4654734_1920.jpg');
}
.div_decouvrir{
  margin-top: 20px;
  padding: 20px;
}

.div_entete{
  padding: 30px;
  margin: 10px;
  background-color: rgb(110, 25, 25);
  height: 100%;

}
.venez-avec-nous{
  width: 100%;
}
.venez-avec-nous h1{
  font-size: 3em;
  color:red;
  text-transform: uppercase;
  margin: 10px;
}
.venez-avec-nous span::before{
  content: "FLEURIR";
  animation: change_text 8s infinite;
}
@keyframes change_text{
  0%{content: "FLEURIR";}

 25%{content: "GRANDIR";}

 50%{content: "PRODUIRE";}

}

.petitlien{
  color: black;
  background-color: red;
  text-decoration: none;
  padding: 10px;
  border: 2px solid red;
  width: 20px;
  margin-top: 10px;
}
.petitlien:hover{
  color: red;
  background-color: black;
}

.carouselimage{
  border-radius: 50%;
  width: 110px;
  height:110px;
}

footer{background-color: rgba(110, 25,25);
  overflow-x: hidden;
  margin-top: 20px;
}

.imagefooter{
  margin: 0 auto;
}
.p_footer{
  margin: 20px;
  font-family: fantasy;
}
.li{
  margin: 8px;
}

.footerinput:focus{background-color: white;}
.footerinput{
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 10px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
}
.submit:hover{
  box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.4);
  background-color:rgba(170, 49, 49, 0.9)!important;
}
.li-a{
  text-decoration: none!important;
  color: red;
  vertical-align: middle;
}
  .li-a:hover{
  color: rgba(0, 0, 0, 0.7);
  }

.li-a::after{text-align: center;
  content:"";
  display: block;
  text-decoration:none;
  position : relative ;
  width:0%;
  height:3px;
  background :rgb(17, 13, 13);
  transition :width .3s ease-in-out}
.li-a:hover::after{
  width:20%;
  text-decoration-color: #f5f1f1;
  }

main#blur.active{
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}
#talents__item.active{
  top: 50%;
  visibility:visible;
    opacity:1;
    transition: 0.5s;
}

#talents__item {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1400px;
    padding: 40px;
    background-color: white;
    box-shadow: 0 50px 30px rgba(0, 0, 0, 1);
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .talents__item .etoile {
    margin-left: 300px;
    text-align: center;
    width: 200px;
  }
  .talents__item .etoile span {
    position: relative;
    top: -15px;
  }
  .talents__item .items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 80px;
    margin-right: 50px;
  }
  .talents__item .items .img {
    position: relative;
    display: flex;
  }
  .talents__item .items .img .tal1 {
    position: relative;
    background: url("../img/talent-profile-1.jpg");
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 400px;
    border-radius: 100px;
    left: 50px;
    z-index: -1;
  }
  .talents__item .items .img .tal2 {
    position: relative;
    background: url("../img/talent-profile-2.jpg");
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 500px;
    border-radius: 100px;
    z-index: 1;
  }
  .talents__item .items .img .tal3 {
    position: relative;
    background: url("../img/talent-profile-3.jpg");
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 400px;
    border-radius: 100px;
    right: 50px;
    z-index: -1;
  }
  .talents__item .items p {
    text-align: justify;
    width: 500px;
  }
  .talents__item .items .btn {
    width: 330px;
    display: flex;
    background-color: #ffd905;
    border-radius: 50px;
    text-align: justify;
    justify-content: space-between;
  }
  .talents__item .items .btn :nth-child(1) {
    width: 30%;
    font-size: 30px;
    padding: 8px;
  }
  .talents__item .items .btn :nth-child(2) {
    width: 60%;
    padding: 8px;
    font-size: 15px;
  }
.open{
  width: 0px;
  height: 0px;
  margin: 1px !important;
  display: flex;
  border:1px solid black;

}
.bar1 {
    position: relative;
    top: -200px;
    left: 740px;
    width: 130px;
    height: 280px;
    background-image: url('../img/woman-868521_640.jpg');
    border-radius: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-10deg);
    z-index: 2;
    border: 1px solid black;
  }
.bar2 {
  outline: none;
    position: relative;
    top: -725px;
    left: 700px;
    width: 130px;
    height: 280px;
    background-image:url('../img/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 200px;
    transform: rotate(10deg);
    z-index: 3;
  }
.bar3 {
    position: relative;
    top: -850px;
    left: 650px;
    width: 450px;
    height: 250px;
    background-color: black;
    border-radius: 200px;
    transform: rotate(-10deg);
    z-index: 1;
}